<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3Schools Online Web</title>
</head>
<body>
     <!-- Header -->
     <header>
        <!-- Nav bar -->
        <div class="header">
           <!-- left side -->
            <div class="logo-container">
                <img style="padding-left: 1rem; padding-top: 1rem;" src="img/w3edited.jpg" alt="img">
                <h1>Tutorials⬇</h1>
                <h1>References⬇</h1>
                <h1>Exercises⬇</h1>
                <h1>videos⬇</h1>
            </div>
                <!-- right side -->
            <ul class="navigation" style="padding-right: 3rem;">
                <li><i class="fas fa-globe"></i></li>
               <li><i class="fas fa-globe-americas"></i> </li>
               <li><i class="fas fa-search"></i></li>
                <li>Spaces</li>
                <li>Paid courses</li>
                <li> <input type="submit" value="Log In" id="button1"> </li>
               
            </ul>
         
        </div>
    </header>
</body>
</html>