<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3Schools Online Web</title>
</head>
<body>
    <nav class="navbar" data-aos="fade-up-right" data-aos-offset="200" data-aos-delay="0" data-aos-duration="3000">
        <div class="navleft">
          <img src="./images/w3 school logo.jpeg" alt="">
          <ul>
            <li> <a href="#"> Tutorials <i class="fa-solid fa-caret-down"></i> </a></li>
            <li> <a href="#"> References <i class="fa-solid fa-caret-down"></i> </a></li>
            <li> <a href="#"> Exercises <i class="fa-solid fa-caret-down"></i> </a></li>
            <li> <a href="#"> Videos <i class="fa-solid fa-caret-down"></i> </a></li>
          </ul>
        </div>
        <div class="navright">
          <i class="fa-solid fa-lg fa-circle-half-stroke"></i>
          <i class="fa-solid fa-lg fa-earth-americas"></i>
          <i class="fa-sharp fa-lg fa-solid fa-magnifying-glass"></i>
          <button class="pro">Pro</button>
          <button class="get">Get Certified</button>
          <button class="free">Free Website</button>
          <button class="logIn">Log in</button>
        </div>
      </nav>
</body>
</html>