* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
  }
  
  .navleft {
    display: flex;
    align-items: center;
  }
  
  .navleft img {
    width: 70px;
  }
  
  .navleft ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navleft li {
    margin: 10px;
  
  }
  
  .navleft li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .navright {
    display: flex;
  }
  
  .navright i {
    margin: 15px;
    /* padding: 5px; */
  }
  
  .navright button {
    margin: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: large;
    padding: 0px 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  
  .pro {
    color: white;
    background-color: black;
    box-shadow: none;
  }
  
  .pro:hover {
    background-color: grey;
  }
  
  .get {
    color: black;
    background-color:#ffc0c7;
  }
  
  .free {
    color: black;
    background-color:#fff4a4;
  }
  
  .logIn {
    color: white;
    background-color: #05aa6d;
  }
  
  .learn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #282a35;
    color: white;
    height: 80vh;
  }
  
  .blackBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .blackBox h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: bolder;
    font-weight: 900;
    font-size: 50px;
  }
  
  .blackBox p {
    color:#ffc0c7;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 900;
  }
  
  .blackBox h5 {
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .blackBox input {
    width: 400px;
    height: 40px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    padding-left: 30px;
  }
  
  .blackBox button {
    background-color: #05aa6d;
    color: white;
    width: 80px;
    border: none;
    height: 40px;
    margin-right: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  
  /* ANIMATION STYLING */
  [data-aos] {
    visibility: visible;
  }
  
  [data-aos].animated {
    visibility: hidden;
  }
  
  .GREY {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    border-radius: 10px;
    background-color: #d9eee2;
    top: -5px;
    position: relative;
  }
  
  .html {
    width: 40%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .html h1 {
    font-size: 80px;
  }
  
  .html p {
    font-size: 12px;
    margin-top: 30px;
  }
  
  .doctype {
    height: 55vh;
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button1 {
    background-color: green;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button2 {
    background-color: burlywood;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button3 {
    background-color: #282a35;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button4 {
    background-color: pink;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .yellow {
    background-color: #fff4a4;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -5px;
    position: relative;
  }
  
  .css {
    height: 60vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .css h1 {
    font-size: 80px;
  }
  
  .css p {
    font-size: 12px;
    margin-top: 30px;
  }
  
  .cssExample {
    height: 50vh;
    width: 45%;
    background-color: rgb(50, 50, 194);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonA {
    background-color: #05aa6d;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonB {
    background-color: #282a35;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonC {
    background-color: #ffc1c7;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .black {
    background-color: #282a35;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -5px;
    position: relative;
  }
  
  .JavaScript {
    height: 60vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .JavaScript h1 {
    font-size: 50px;
    color: white;
  }
  
  .JavaScript p {
    font-size: 12px;
    margin-top: 30px;
    color: white;
  }
  
  .JavaScriptExample {
    height: 45vh;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonD {
    background-color: #05aa6d;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonE {
    background-color: white;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonF {
    background-color: #ffc1c7;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .white {
    background-color: #f3ecea;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -5px;
    position: relative;
  }
  
  .Python {
    height: 60vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .Python h1 {
    font-size: 50px;
    color: black;
  }
  
  .Python p {
    font-size: 12px;
    margin-top: 30px;
    color: black;
  }
  
  .PythonExample {
    height: 45vh;
    width: 45%;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonG {
    background-color: #05aa6d;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonG:hover {
    background-color: rgb(7, 193, 7);
  }
  
  .buttonH {
    background-color: #282a35;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonH:hover {
    background-color: black;
  }
  
  
  .buttonI {
    background-color: #ffc1c7;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonI:hover {
    background-color: palevioletred;
  }
  
  
  .turquoise {
    background-color: #96d4d5;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -5px;
    position: relative;
  }
  
  .SQL {
    height: 60vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .SQL h1 {
    font-size: 50px;
    color: #282a35;
  }
  
  .SQL p {
    font-size: 12px;
    margin-top: 30px;
    color: black;
  }
  
  .SQLExample {
    height: 45vh;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonJ {
    background-color: #05aa6d;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonJ:hover {
    background-color: green;
  }
  
  .buttonK {
    background-color: #282a35;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonK:hover {
    background-color: black;
  }
  
  .buttonL {
    background-color: #ffc1c7;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .buttonL:hover {
    background-color: rgba(240, 168, 180, 0.961)
  }
  
  
  
  .greyBlack {
    background-color: #282a35;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -5px;
  }
  
  .A1 {
    /* background-color: purple; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  
  .A1a {
    background-color: #ffc1c7;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .A1a h1 {
    font-size: 40px;
  }
  
  .A1a p {
    color: #282a35;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .A1a button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    font-weight: 900;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .A1a button:hover {
    background-color: black;
  }
  
  .A1b {
    background-color: #fff4a4;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .A1b h1 {
    font-size: 40px;
  }
  
  .A1b p {
    color: #282a35;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .A1b button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    font-weight: 900;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .A1b button:hover {
    background-color: black;
  }

  .B1 {
    /* background-color: red; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  
  .B1a {
    background-color: #f3ecea;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .B1a h1 {
    font-size: 40px;
  }
  
  .B1a p {
    color: #282a35;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .B1a button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    font-weight: 900;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .B1a button:hover {
    background-color: black;
  }
  
  .B1b {
    background-color: #d9eee2;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .B1b h1 {
    font-size: 40px;
  }
  
  .B1b p {
    color: #282a35;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .B1b button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    font-weight: 900;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .B1b button:hover {
    background-color: black;
  }
  
  
  .C1 {
    /* background-color: blue; */
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  
  .C1a {
    background-color: #96d4d5;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .C1a h1 {
    font-size: 40px;
  }
  
  .C1a p {
    color: #282a35;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .C1a button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    font-weight: 900;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .C1a button:hover {
    background-color: black;
  }
  
  .C1b {
    background-color: #e7e9eb;
    height: 100%;
    width: 45%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .C1b h1 {
    font-size: 40px;
  }
  
  .C1b p {
    color: #282a35;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  .C1b button {
    background-color: #282a35;
    color: white;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 30%;
    font-weight: 900;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .C1b button:hover {
    background-color: black;
  }
  