* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
  }
  
  .navleft {
    display: flex;
    align-items: center;
  }
  
  .navleft img {
    width: 70px;
  }
  
  .navleft ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navleft li {
    margin: 10px;
  
  }
  
  .navleft li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .navright {
    display: flex;
  }
  
  .navright i {
    margin: 15px;
    /* padding: 5px; */
  }
  
  .navright button {
    margin: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: large;
    padding: 0px 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  
  .pro {
    color: white;
    background-color: black;
    box-shadow: none;
  }
  
  .pro:hover {
    background-color: grey;
  }
  
  .get {
    color: black;
    background-color:#ffc0c7;
  }
  
  .free {
    color: black;
    background-color:#fff4a4;
  }
  
  .logIn {
    color: white;
    background-color: #05aa6d;
  }
  
  .learn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #282a35;
    color: white;
    height: 80vh;
  }

  .blackBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .blackBox h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: bolder;
    font-weight: 900;
    font-size: 50px;
  }
  
  .blackBox p {
    color:#ffc0c7;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 900;
  }
  
  .blackBox h5 {
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .blackBox input {
    width: 400px;
    height: 40px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    padding-left: 30px;
  }
  
  .blackBox button {
    background-color: #05aa6d;
    color: white;
    width: 80px;
    border: none;
    height: 40px;
    margin-right: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }

  /* ANIMATION STYLING */
[data-aos] {
    visibility: visible;
  }
  
  [data-aos].animated {
    visibility: hidden;
  }
  
  .GREY {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    border-radius: 10px;
    background-color: #d9eee2;
    top: -5px;
    position: relative;
  }
  
  .html {
    width: 40%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .html h1 {
    font-size: 80px;
  }
  
  .html p {
    font-size: 12px;
    margin-top: 30px;
  }
  
  .doctype {
    height: 55vh;
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button1 {
    background-color: green;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button2 {
    background-color: burlywood;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button3 {
    background-color: #282a35;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button4 {
    background-color: pink;
    border: none;
    width: 37%;
    border-radius: 30px;
    padding: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .yellow {
    background-color: #fff4a4;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: -5px;
    position: relative;
  }

  